[submodule "buildroot-rootfs"]
	path = buildroot-rootfs
	url = ../busybox-rootfs
[submodule "xilinx-uboot"]
	path = xilinx-uboot
	url = ../xilinx-uboot
[submodule "xilinx-linux"]
	path = xilinx-linux
	url = ../xilinx-linux
[submodule "xilinx-linux-rt"]
	path = xilinx-linux-rt
	url = ../xilinx-linux
